Triangle, pentagonal, and hexagonal numbers are generated by the following formulae:

Triangle	 	Tn=n(n+1)/2	 	1, 3, 6, 10, 15, ...

Pentagonal	 	Pn=n(3n−1)/2	 	1, 5, 12, 22, 35, ...

Hexagonal	 	Hn=n(2n−1)	 	1, 6, 15, 28, 45, ...

It can be verified that T285 = P165 = H143 = 40755.

Find the next triangle number that is also pentagonal and hexagonal.

In [0]:
import numpy as np

In [0]:
def triangle(n):
  return n*(n+1)/2


def pentagonal(n):
  return n*((3*n)-1)/2

def hexagonal(n):  
  return n*((2*n)-1)

In [0]:
l1 = []
l2 = []
l3 = []
for i in range (1,1000000):
  tempa = triangle(i)
  l1.append(tempa)
  tempb = pentagonal(i)
  l2.append(tempb)
  tempc = hexagonal(i)
  l3.append(tempc)

In [0]:
def intersect_three_list (x,y,z):
  s1 = set(x)
  s2 = set(y)
  s3 = set(z)

  set1 = s1.intersection(s2)
  result_set = set1.intersection(s3)
  final_l = list(result_set)
  return final_l

In [23]:
intersect_three_list(l1,l2,l3)

[1.0, 40755.0, 1533776805.0]